<div class="col-md-6">
  <div class="border shadow p-3">
    <div>
      <%= image_tag image.picture.url, class: 'img-thumbnail' %>
    </div>
    <div class="mt-2">
      <h5 class="text-center"><%= image.name %></h5>
      <dl class="border p-2 mt-3">
        <dt>Author</dt>
        <dd><%= image.user.email_username %></dd>
        <dt>Time of creation</dt>
        <dd><%= time_ago_in_words(image.created_at) %> ago</dd>
      </dl>
    </div>
  </div>
</div>